
qaxions
pyqaxions

build/
bin/
output/
o*/
tests/__pycache__
.DS_Store

*.h5
*.hdf5

todo.txt

logo.png

texput.log

bench3D/

scripts/vista*
scripts/.ipynb_checkpoints/

docs/_site/

perf.*
massif.*

src/debug_print.h
prec_benchmark.sh
scripts/plot_spectra.py
